.header{
    background-color:hsl(240, 20%, 95%);
    display:flex;
    top:-50px;
    left:-10px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    position:relative;
    height:100vh;
    width:100vw;
}

.card{
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px hsl(0, 5%, 80%),-1px -1px 10px hsl(0, 5%, 80%);
}

.textBox{
    width:370px;
    height:50px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 12px;
    border: 1px hsl(0, 0%, 80%) solid;
}

.auth{
    padding-left: 120px;
}

button{
    height:50px;
    border-radius: 5px;
    padding: 10px;
    font-weight:700;
    color: white;
    cursor: pointer;
    border: none;
}

.intro{
    position: relative;
    top:-50px;
}

.login{
    width:380px;
    background-color: blue;
    font-size: 20px;
    transition: background-color 0.2s;
}

.login:hover{
    background-color:hsl(240, 100%, 60%);;
}


.create{
    background-color: hsl(120, 50%, 55%);
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 0.2s;
}

.create:hover{
    background-color:hsl(120, 50%, 45%);
}



.footer{
    display:flex;
    justify-content: center;
    word-spacing: 15px;
    color:hsl(0, 0%, 50%);
    font-size:14px;
}

.content{
    position: relative;
    top:-20px;
    width:1000px;
}